{% extends "layout.html" %}
{% block title %}Профиль пользователя{% endblock %}

{% block content %}
  <h2>{{ user.username }}</h2>
  {% if user.admin%}
    <p>ID: {{ user.id }}</p>
  {% endif%}
  <p>Дата создания: {{user.date}}</p>
  <p>Партия: {{ user.party.name }}</p>
  <p>Голосов: {{ user.votes|length }}</p>
  <h3>Опросы пользователя</h3>
  <ul>
  {% for poll in user.polls %}
    <li><a href="{{url_for('polls.vote', poll_id=poll.id)}}">{{ poll.question }}</a></li>
  {% endfor %}
  </ul>

{% endblock %}
